/* menu + logo */
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* baner */
.page-baner {
    background-color: rgb(230, 81, 170);   
}

.page-baner-container {
    display: flex;
    justify-content: center;
}

/* szerokość strony */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 5px;
}

.long-text-container img {
    margin: 15px;
    float: left;
}

.long-text-container {
    padding: 15px 15px;
}

.news {
    padding: 15px;
    overflow: hidden;
}

.article {
    border: 1px solid #B5B5B5;
    display: flex;
    flex-direction: column;
}

.article p {
    padding: 5px 10px;
    border-bottom: 1px solid #B5B5B5;
}

/*.article a {
    border: 1px solid #B5B5B5
}*/

.article-container {
    display: flex;
    gap: 50px;
    padding: 15px;
}

.article-buttons {
    display: flex;
}

.article-buttons a {
    flex: 1; 
    text-align: center;
     
}

.news-container {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    height: 49%;
}

.picture-2 {
    width: 70%;
}

.news-photo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px; 
    
}

.text-3-container {
    display: flex;
}

.picture-3 {
    margin-right: 20px;
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
}

.footer-nav-column-container {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
}