.button {
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    padding-left: $base-padding / 2 ;
    padding-right: $base-padding / 2;
    margin-bottom: 10px;
    margin-top: 10px;

}

.btn-main {
    @include button-style(default);
}

.btn-save {
    @include button-style(success);
}

.btn-delete {
    @include button-style(error);
}
