table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr {
    &:first-child {
        font-weight: bold;
        }

    &:last-child  {
        td {
            border-bottom: 2px solid red;
        }
    }

    &:nth-child(even) {
        background-color: #ccc;
    }

    &:nth-child(5) {
        color: gold;
    }
}